{% load staticfiles %}
<html>
    <head>
        <title>Alistair</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </head>
    <body>
    <div>
    <h1><a href="/">Transactions</a></h1>
    {%if user.is_authenticated %}

       <li class="nav-item">
            <div class="nav-link text-dark"> Hello, {{user}}</div>
       </li>
       <li class="nav-item">
           <a class='nav-link' href="/logout">Logout</a>
       </li>
    {%else%}
        <li class="nav-item">
           <a class='nav-link' href="/login">Login</a>
       </li>
    {%endif%}

    {%if user.is_authenticated %}
        <a href="{% url 'transaction_new' %}" class="top-menu"><span>New Transaction</span></a>
    {%endif%}
    <a href="{% url 'graphql' %}" class="top-menu"><span>GraphQl</span></a>
            {% for transaction in transactions %}
            <div class="kill2kill">
                <h2>Transaction Name: {{ transaction.name }}</h2>
                <p>Transaction Amount: {{ transaction.amount }}</p>
                <p>Transaction Category: {{ transaction.category }}</p>
                <p>Transaction Date: {{ transaction.date|linebreaksbr }}</p>
                <!-- <div class="break"></div> -->
            </div>
        {% endfor %}
    </div>
    </body>
</html>