{% extends 'transaction/dashboard.html' %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'index.css' %}">
		<h1>TRANSACTIONS</h1>
	    {% for transaction in trasactions %}
	    	<div class="kill2kill">
	    		<h1>TRANSACTIONS</h1>
		     	<h1>&#x273F;</h1><h2>{{ transaction.name }}</h2>
            	<p>{{ transaction.date|linebreaksbr }}</p>
            	<!-- <div class="break"></div> -->
        	</div>
	    {% endfor %}


{% endblock %}