{% block content %}
    <style type="text/css">
        p{
            color: black;
        }
    </style>
    <div class="container w-50 justify-content-center">
        <h1>Login</h1>
        <form method="POST" class="post-form"> {% csrf_token %}
           
            {{ form.as_p }}
            
            <button class="btn btn-primary " type="submit">Submit</button>
            <a href="/signup">Signup</a>
        </form>
    </div>
    


<script type="text/javascript">
    
    var p = document.querySelectorAll("p");
    var input = document.querySelectorAll("input");
    console.log(input);
    for(var i = 0; i < p.length; i++){
        p[i].className = 'form-group';
        p[i].children[1].className= 'form-control';
        
    }
</script>



{% endblock %}
